.staffLoginCont{
    max-width:400px;
    margin-top:50px;
    padding:20px 40px;
}
#introduction_heading{
    letter-spacing: 0px;
}

#introduction > h2{
    margin-top:40px;
}

.mgb20{
    margin-bottom: 20px;
}
.mt-2{
	margin-top:-2px;
}
.notification_note{
	padding:10px; 
	font-size:11px; 
	background:#fff;
}